@page
@model WebCommentsSection.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @if (item.Rating == 0) {
                    for (int star = 0; star < 5; star++) {
                        <img src="~/lib/images/star-empty.png" alt="" class="ratingStarDisplay" />
                    }
                } else {
                    for (int star = 0; star < item.Rating; star++) {
                        <img src="~/lib/images/star-yellow.png" alt="" class="ratingStarDisplay" />
                    }
                    for (int star = 0; star < (5 - item.Rating); star++) {
                        <img src="~/lib/images/star-empty.png" alt="" class="ratingStarDisplay" />
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
